/* Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}
html {
  scroll-behavior: smooth;
}

:root {
  --primary: #1a73e8;
  --secondary: #34a853;
  --accent: #fbbc05;
  --dark: #202124;
  --light: #ffffff;
  --gray: #5f6368;
  --border: #dadce0;
}
a {
  text-decoration: none;
  color: var(--dark);
  transition: color 0.3s;
}

a:hover {
  color: var(--primary);
}
.bread-slices {
  padding: 0 150px;
}

.head-container {
  width: 100%;
  margin: 0 auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.text-link {
  color: var(--primary);
  text-decoration: none;
  font-weight: 600;
}

.text-link:hover {
  text-decoration: underline;
}
#about-us,
#activities,
#contact,
#team,
#partners,
#gallery {
  scroll-margin-top: 50px;
}

/* Header Styles */
#head {
  background-color: rgba(255, 255, 255);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 10;
  margin-bottom: 20px;
}
.logo {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  gap: 10px;
}
.logo img {
  width: 40px;
  height: auto;
}
.logo h2 {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--dark);
}
.hamburger {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin-left: 30px;
}

/* Footer */
.footer {
  background-color: white;
  padding: 60px 0 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.footer-container {
  display: grid;
  grid-template-columns: auto auto auto;
}

.footer-column {
  margin-bottom: 20px;
  min-width: 200px;
  height: 150px;
}

.footer-column h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.footer-column h4 {
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.footer-column ul {
  list-style: none;
}

.footer-column ul li {
  margin-bottom: 5px;
}

.footer-column ul li a {
  transition: color 0.3s;
}

.footer-bottom {
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  color: #b0b7c3;
}

/* Responsive Styles */
@media screen and (max-width: 1024px) {
  .bread-slices {
    padding: 0 20px;
  }
  .footer-container {
    grid-template-columns: 1fr;
  }
  .hamburger {
    display: block;
    cursor: pointer;
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    width: 100%;
    margin-top: 15px;
    display: none;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links li {
    margin: 10px 0;
  }
}

@media screen and (max-width: 600px) {
  .logo {
    grid-template-columns: auto;
    gap: 2px;
  }
  .logo h2 {
    font-size: 1.2rem;
  }
}
